# 依赖
node_modules/

# 日志
logs/
*.log
npm-debug.log*

# 环境变量
.env
.env.local
.env.*.local

# 构建产物
dist/
build/
*.tsbuildinfo

# 编辑器 / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# 系统文件
.DS_Store
Thumbs.db
